img {
    z-index: -1;
    opacity: 0.2;
}
  
.aboutsection .family-owned{
    position: absolute; 
    top: 20%; 
}

.aboutsection p1 {
    width: 100%; 
    text-align: center;
    font-size: 160%;
    font-family: 'Playfair Display';
}

.aboutsection p2 {
    position: absolute;
    top: 35%;
    margin-left: 12%;
    margin-right: 12%;
    text-align: center;
    font-size: 150%;
    font-family: 'Playfair Display';
}

.aboutsection p3 {
    position: absolute;
    top: 85%;
    margin-left: 12%;
    margin-right: 12%;
    text-align: center;
    font-size: 150%;
    font-family: 'Playfair Display';
}

.aboutsection p4 {
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    font-size: 150%;
    font-family: 'Playfair Display';
}

@media only screen
and (max-width : 375px)
{
    .aboutsection .family-owned{
        top: 10%;
    }

    .aboutsection p1 {
        font-size: 100%;
    }

    .aboutsection p2 {
        font-size: 100%;
        top: 19%;
        margin-left: 6%;
        margin-right: 6%;
    }

    .aboutsection p3 {
        top: 58%;
        margin-left: 6%;
        margin-right: 6%;
        font-size: 100%;
    }

    .aboutsection p4 {
        top: 73%;
        font-size: 100%;
    }
}