div p {
    position: absolute;
    top: 10%;
    text-align: center;
    width: 100%;
    font-size: 200%;
    font-family: 'Nunito', sans-serif;
}
.PS4,
.VR {
    position: absolute;
    top: 30%;
}

.PS4 {
    position: absolute;
    left: 10%;
}

.VR {
    position: absolute;
    right: 10%;
}

.Switch,
.Xbox {
    position: absolute;
    top: 70%;
}

.Xbox {
    position: absolute;
    right: 10%;
}

.Switch {
    position: absolute;
    left: 10%;
}