div p {
    position: absolute;
    top: 10%;
    text-align: center;
    width: 100%;
    font-size: 200%;
    font-family: 'Nunito', sans-serif;
}
.PS4,
.VR {
    position: absolute;
    top: 31%;
    z-index: 1;
}

.PS4 {
    position: absolute;
    z-index: 1;
}

.VR {
    position: absolute;
    z-index: 1;
    right: 10%;
}

.Switch,
.Xbox {
    position: absolute;
    top: 70%;
    z-index: 1;
}

.Xbox {
    position: absolute;
    z-index: 1;
}

.Switch {
    position: absolute;
    z-index: 1;
    right: 10%;
}

@media only screen
and (min-width : 320px) and (max-width : 828px) {
    div p {
        top: 12%;
        font-size: 150%;
    }

    .PS4 {
        top: 32%;
        width: 100%;
        height: 20%;
    }
    
    .VR {
        top: 58%;
        width: 100%;
        height: 20%;
    }

    .Xbox {
        top: 84%;
        width: 100%;
        height: 20%;
        left: 1.5%;
    }

    .Switch {
        top: 110%;
        width: 100%;
        height: 20%;
        left: 0%;
    }
}