.prices  {
    position: absolute;
    top: 15%;
    text-align:center;
    /* width: 100%; */
    font-size: 200%;
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
}

ul.HoursList {
    list-style: none;
    float: right;
    margin: 0;
}

ul.HoursList li {
    float: left;
    width: 100%;
    line-height: 80px;
    vertical-align: middle;
    text-align: center;
    margin: 0;
}

.PLUS {
    font-size: 200%;
    color: orange;
}

@media only screen
and (min-width : 320px) and (max-width : 828px) {

    .prices  {
        top: 22%;
        width: 100%;
        font-size: 150%;
        left: -4%;
    }

    ul.HoursList {
        list-style: none;
        float: right;
        margin: 0;
    }

    ul.HoursList li {
        line-height: 46px;
        margin: 0;
    }
}