.coaches {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 225%;
    top: 20%;
}

.coaches p {
    font-family: 'Bangers', cursive;
}

.coaches a {
    font-family: 'Lato', sans-serif;
}