body {
  background-color: white;
}


@media only screen and (max-width: 560px){
ul {
position: fixed;
width: 100%;
top: 0px;
left: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0000CD;
  z-index: 10;
  font-family: 'Teko', sans-serif;
  font-size: 15px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:green;
}
li a:hover:not(.active) {
  background-color: blue;
}

.active {
  background-color: orange;
}
.bckgrnd{
  position: absolute;
  top: 5%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  height:auto;
}

.wp p {
  position: absolute;
  top: 45%;
  font-family: 'Ubuntu', sans-serif;
  z-index: -1;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
color: blue;
width: 100%;
}

.Call {
  position: absolute;
  top: 70%;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  font-size: 40px;
  text-decoration: none;
  color: blue;
  font-family: 'Dancing Script', cursive;
  width: 100%; 
}

#quote {
  position: absolute;
  top: 83%;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
  font-size: 40px;
  color: #0000FF;
}

.quo {
  font-size: 50px;
}

#yuh {
  color: rgb(212,175,55)
}

#cold {
  color: rgb(7, 242, 241);
}

#Hot {
  color: rgb(236, 0, 2)
}

.rain {
  color: rgb(3, 74, 236);
}

.shine {
  color: rgb(255, 247, 0);
}

#locations {
  position: absolute;
  top: 115%;
  width: 100%;
  text-align: center;
  font-size: 200%;
}

#brooklyn {
  color: rgb(193, 106, 12);
}

#queens {
  color: rgb(128,128,128);
}

#longisland {
  color: rgb(1,68,33);
}

#manhattan {
  color: #ec983c;
}

#occasions {
  position: absolute;
  top: 125%;
  text-align: center;
  width: 100%;
}