body {
  background-color: white;
}

.Rectangle {
  opacity: 0.2;
  z-index: -1;
}

img.bckgrnd {
  position: absolute;
  width: 100%;
  top: 11%;
}

.wp {
  position: absolute;
  top: 65%;
  width: 100%; 
}
.wp p {
  font-size: 250%;
  font-family: 'Ubuntu', sans-serif;
  z-index: -1;
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
color: blue;
}

.wp a1 {
  position: absolute;
  width: 100%;
  top: 70%;
  text-align: center;
  font-size: 250%;
  color: blue;
  font-family: 'Yeon Sung';
  font-weight: bold;
}

.wp a2 {
  position: absolute;
  top: 75%;
  width: 100%;
  text-align: center;
  font-size: 200%;
  color: blue;
  font-family: 'Yeon Sung';
  font-weight: bold;
}

#quote {
  position: absolute;
  top: 100%;
  font-family: 'Yeon Sung';
  text-align: center;
  font-size: 40px;
  color: #0000FF;
}

.quo {
  font-size: 50px;
}

#yuh {
  color: rgb(212,175,55)
}

#cold {
  color: rgb(7, 242, 241);
}

#Hot {
  color: rgb(236, 0, 2)
}

.rain {
  color: rgb(3, 74, 236);
}

.shine {
  color: rgb(255, 247, 0);
}

#locations {
  position: absolute;
  top: 137%;
  width: 100%;
  text-align: center;
  font-size: 200%;
}

#brooklyn {
  color: rgb(193, 106, 12);
}

#queens {
  color: rgb(128,128,128);
}

#longisland {
  color: rgb(1,68,33);
}

#manhattan {
  color: #ec983c;
}

#occasions {
  position: absolute;
  font-size: 175%;
  top: 162%;
  text-align: center;
  width: 100%;
}

#parties 
{
  color: rgb(0,0,205)
}

#church {
  color: rgb(139,69,19)
}

#schools {
  color: #FDB600
}

#fundraiser {
  color: #216C2A
}

@media only screen
and (min-width : 0px) and (max-width : 319px) {
  .wp {
    top: 5%;
  }
  .wp p, .wp a1, .wp a2 {
    font-size: 125%;
  }

  .wp p {
    font-size: 125%;
    font-family: 'Ubuntu', sans-serif;
    z-index: -1;
      text-shadow: 0 1px 0 #ccc,
                   0 2px 0 #c9c9c9,
                   0 3px 0 #bbb,
                   0 4px 0 #b9b9b9,
                   0 5px 0 #aaa,
                   0 6px 1px rgba(0,0,0,.1),
                   0 0 5px rgba(0,0,0,.1),
                   0 1px 3px rgba(0,0,0,.3),
                   0 3px 5px rgba(0,0,0,.2),
                   0 5px 10px rgba(0,0,0,.25),
                   0 10px 10px rgba(0,0,0,.2),
                   0 20px 20px rgba(0,0,0,.15);
  color: blue;
  }
  
  #quote {
    top: 40%;
    font-size: 115%;
  }

  .quo {
    font-size: 156.25%;
  }

  #locations {
    top: 67%;
    font-size: 125%;
  }

  #occasions {
    font-size: 125%;
    top: 92%;
  }
}

@media only screen
and (min-width : 320px) and (max-width : 828px) {
  .wp {
    top: 16%;
  }
  .wp p, .wp a1, .wp a2 {
    font-size: 125%;
  }

  .wp p {
    font-size: 125%;
    font-family: 'Ubuntu', sans-serif;
    z-index: -1;
      text-shadow: 0 1px 0 #ccc,
                   0 2px 0 #c9c9c9,
                   0 3px 0 #bbb,
                   0 4px 0 #b9b9b9,
                   0 5px 0 #aaa,
                   0 6px 1px rgba(0,0,0,.1),
                   0 0 5px rgba(0,0,0,.1),
                   0 1px 3px rgba(0,0,0,.3),
                   0 3px 5px rgba(0,0,0,.2),
                   0 5px 10px rgba(0,0,0,.25),
                   0 10px 10px rgba(0,0,0,.2),
                   0 20px 20px rgba(0,0,0,.15);
  color: blue;
  }
  
  #quote {
    top: 44%;
    font-size: 125%;
  }

  .quo {
    font-size: 156.25%;
  }

  #locations {
    top: 73%;
    font-size: 125%;
  }

  #occasions {
    font-size: 125%;
    top: 98%;
  }
}